header.header
    div.header_column
        i.fab.fa-facebook-square
    div.header_column
        ul
            li
                a(href=routes.join) 회원가입
            li
                a(href=routes.login) 로그인
            