extends layouts/Main

block content
    h1 비디오 업로드 
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="file") 비디오 파일
            input(type="file", id="file", name="videoFile",required=true,accept="video/*")
            input(type="text", placeholder="Title", name="title",required=true)
            textarea(name="description", placeholder="Description",required=true)
            input(type="submit", value="Upload Video")